<li>
  <h2><%= video.title %></h2>
  <%= content_tag(:div, {:class => 'edit-video'}) do %>
    <%= link_to 'Edit Video', edit_video_path(video), :class => 'button' %>
  <% end if can?(:edit, video) %>
  <div class="created-at">Posted <%= time_ago_in_words(video.created_at) %> ago</div>
  <div class="duration">Duration: <%= video.duration || 'N/A' %></div>
  <p><%= video.description %></h2>
</li>
