<div class="search-result-right">
	<h2><%= @video.title %></h2>
	<div class="add_to_collection"><%= link_to_populate(@video) %></div>
	<table class="video-info">
		<tr>
			<td class="label">Category:</td>
			<td><%= @video.category.name %></td>
		</tr>
		<tr>
			<td class="label">Posted:</td>
			<td><%= time_ago_in_words(@video.created_at) %> ago</td>
		</tr>
	</table>
	<p><%= @video.description %></p></div>
<div class="clear"></div>

<%= link_to 'Back', :back, :class => 'button' %>
