<h2>My Video Reels</h2>
<div id="current_collection">
	<div id="current-reel">
  	<span class="tiny-header">Current Reel</span><span class="label reel"><%= current_collection.name %><div class="actions"><%= link_to 'Edit', '#' %></div></span>
  	<%= form_for(current_collection, :html => {:style => 'display:none;'}) do |f| %>
    	<%= f.text_field :name, :size => 22 %>
    	<%= f.submit 'Update' %>
  	<% end %>
  	<div class="clear"></div> 
  	<div class="videos">
  		<span class="tiny-header">Videos</span>
			<% current_collection.videos.each do |video| %>
				<span class="video"><%= video.title %></span>
			<% end %>
			<% if current_collection.empty? %>
				No Videos Selected
			<% end %>
		</div>
  </div>
</div>

<%= form_for(Collection.new) do |f| %>
  <%= f.text_field :name, :size => 22 %>
  <%= f.submit 'Create Reel', :class => 'button' %>
<% end %>

<% if current_user.collections.count > 1 %>
  <%= form_tag(switch_collections_path, :method => :post) do |f| %>
    <%= collection_select :collection, :id, current_user.collections.reject {|c| c == current_collection}, :id, :name %>
    <%= submit_tag 'Switch', :class => 'button' %>
  <% end %>
<% end %>
