<h2>My Reels</h2>
<div id="current_collection">
  Current: <span class="label"><%= current_collection.name %> <%= link_to 'Edit', '#' %></span>
  <%= form_for(current_collection, :html => {:style => 'display:none;'}) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit 'Update' %>
  <% end %>
</div>

<%= form_for(Collection.new) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit 'Create Reel', :class => 'button' %>
<% end %>

<% if current_user.collections.count > 1 %>
  <%= form_tag(switch_collections_path, :method => :post) do |f| %>
    <%= collection_select :collection, :id, current_user.collections.reject {|c| c == current_collection}, :id, :name %>
    <%= submit_tag 'Switch', :class => 'button' %>
  <% end %>
<% end %>

<% current_collection.videos.each do |video| %>
  <%= video.title %>
<% end %>
<% if current_collection.empty? %>
  No Videos Selected
<% end %>
