<h2>My Video Reels</h2>
<div id="current_collection">
  <div id="current-reel">
    <%= render 'shared/current_reel' %>
  </div>
</div>

<%= link_to "Build Reel for Download", show_build_collection_path(current_collection), :class => 'button large', :style => 'width:173px;font-size:14px;height:25px;' %>

<h4>Switch Reels</h4>
<% if current_user.collections.count > 1 %>
  <%= form_tag(switch_collections_path, :method => :post, :id => 'switch_collection') do %>
    <%= select_tag_for_switch_collection %>
    <noscript>
      <%= submit_tag "Switch", :id => 'switch_button' %>
    </noscript>
  <% end %>
<% end %>

<h4>Create New Reel</h4>
<%= form_for(Collection.new) do |f| %>
  <%= f.text_field :name, :size => 22 %>
  <%= f.submit 'Create', :class => 'button', :style => 'margin-top:6px;' %>
<% end %>

