<span class="tiny-header">Current Reel</span>
<span class="label reel">
  <span id="reel_name"><%= current_collection.name %></span>
  <div class="actions"><%= link_to 'Edit', '#' %></div>
</span>
<%= form_for(current_collection, :remote => true, :html => {:style => 'display:none;'}) do |f| %>
  <%= f.text_field :name, :size => 22 %>
  <%= f.submit 'Update' %>
<% end %>
<div class="clear"></div> 
<div class="videos">
  <span class="tiny-header">Videos</span>
  <span id="current_reel_videos">
    <%= render :partial => 'shared/current_reel_video', :collection => current_collection.videos, :as => :video %>
  </span>
  <% if current_collection.empty? %>
    No Videos Selected
  <% end %>
</div>

