<h1>Video Categories</h1>
<% if can?(:create, Category) %>
<div class="admin-toolbar">
<%= link_to 'New Category', new_category_path, :class => 'button new long' %>
</div>
<% end %>
<table class="list" width="100%" style="margin-top:10px;" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th># of Videos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	<% count = 0; %>
    <% @categories.each do |category| %>
      <tr class="<%= count % 2 == 0 ? 'even' : 'odd' %>">
        <td><%= category.name %></td>
        <td><%= category.videos.count %></td>
        <td>
        	<div style="float:right; width:200px;">
          <%= link_to 'Edit', edit_category_url(category), :class => 'button right edit' %>
          <%= button_to 'Remove', category_url(category), :method => :delete, :class => 'button right delete' %>
        	</div>
        </td>
      </tr>
      <% count += 1 %>
    <% end %>
  </tbody>
</table>
