<%= link_to 'Create Category', new_category_url %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># of Videos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.videos.count %></td>
        <td><%= link_to 'Edit', edit_category_url(category) %> <%= button_to 'Remove', category_url(category), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
